cobra==0.17.0
jedi==0.17.2 # Fix tab complete in ipython for  python 3.6
ipython
ipdb
lxml
openpyxl
tabulate
sphinx>=1.4
sphinx-rtd-theme
matplotlib
# from setup.py
sympy==1.3
pytest
scipy
numpy
pandas
bokeh>=0.12.1
Cython
# scikits.odes # installation/compilation done with sundials in Dockerfile
deap
dill
h5py
# extras ORACLE:
#pytfa
