cobra>0.8
ipdb
lxml
openpyxl
tabulate
sphinx>=1.4
sphinx-rtd-theme
matplotlib
# from setup.py
sympy
pytest
scipy
numpy
pandas
bokeh>=0.12.1
Cython
# scikits.odes # installation/compilation done with sundials in Dockerfile
deap
dill
h5py
# extras ORACLE:
pytfa
