cobra
jedi==0.17.2 # Fix tab complete in ipython for  python 3.6
ipython
ipdb
lxml
openpyxl
tabulate
sphinx>=1.4
sphinx-rtd-theme
matplotlib
# from setup.py
sympy <=1.5
pytest
scipy
numpy
pandas
markupsafe<=2.0.1
bokeh>=0.12.0
Cython
# scikits.odes # installation/compilation done with sundials in Dockerfile
deap
dill
h5py
# extras ORACLE:
pytfa
cobra <= 0.24.0
escher==1.7.0
# Additional things that are useful in RabLab
python-libsbml
xlrd
seaborn
